<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="insertBoard">
        <![CDATA[
            INSERT INTO Board (title, content, writer)
            VALUES (#{title}, #{content}, #{writer})
        ]]>
    </insert>
    <update id="updateBoard">
        <![CDATA[
            UPDATE Board
            SET title = #{title}, content = #{content}
            WHERE seq = #{seq}
        ]]>
    </update>
    <delete id="deleteBoard">
        <![CDATA[
            DELETE FROM Board
            WHERE seq = #{seq}
        ]]>
    </delete>
    <select id="getBoard" resultType="board">
        <![CDATA[
            SELECT *
            FROM Board
            WHERE seq = #{seq}
        ]]>
    </select>
    <select id="getBoardList" resultType="board">
        <![CDATA[
            SELECT *
            FROM Board
            ORDER BY seq DESC
        ]]>
    </select>
</mapper>